@model ConfiguratorWeb.App.Models.UserViewModel
@{
    Layout = null;
}
   <div style="height: 320px">
      <textarea asp-for="Notes" class="w-100 h-90 mt-2"></textarea>
   </div>

@*style="width:98%;max-width:98%;margin:5px;height: 89%;max-height:94%;border-color: #e4e4e4;padding:10px;"*@