@using System.Linq.Expressions
@using Kendo.Mvc.UI.Fluent
@using Microsoft.AspNetCore.Routing

<div style="height:310px">

@(Html.Kendo().Grid<ConfiguratorWeb.App.Models.UserViewModel>()
    .Name("enabled-users-grid_" + ViewData["PermissionId"])
    .Columns(columns =>
    {
    columns.Bound(e => e.Id).Visible(false);
    columns.Bound(e => e.UserName);
    columns.Bound(e => e.Abbrev);
    columns.Bound(e => e.PermissionLevel);
    })
    .UmsDefaultSettings(DicSvc)
    .UmsDefaultPager(DicSvc)
    .HtmlAttributes(new { style = "height:100%;" })
    .DataSource(dataSource => dataSource
        .Ajax()
        .Model(model =>
        {
            model.Id(o => o.Id);
        })
        .Filter(f =>f.Add(p=>p.PermissionLevel>=(short?)ViewData["PermissionLevel"]))
        .Events(events => events.Error("error_handler_users"))
        .Read(read => read.Action("ReadEnabledUsers", "SystemAdministration")
                                     .Data("productsReadData")
             )
        .PageSize(10)
    )


      )

</div>





