
<form id="PositionForm" class="card-body h-90 p-0 border-0" style="display:none">

    <div class="container-fluid">
        <div class="row mt-3">
            @*positionShortName*@
            <div class="col-sm-1 u-col-h-fixed">
                <label class="label-name field-required" for="PositionShortNameTxt">Shortname</label>
            </div>
            <div class="col-sm-3 u-col-h-fixed">
                <div class="input-group">
                    <input class="k-input k-textbox" type="text" data-val="true" data-val-required="The StockRoom Short Name field is required." id="PositionShortNameTxt" disabled>
                </div>
            </div>
            @*positionName*@
            <div class="col-sm-1 u-col-h-fixed ml-5">
                <label class="label-name field-required" for="PositionNameTxt">Name</label>
            </div>
            <div class="col-sm-5 u-col-h-fixed">
                <div class="input-group">
                    <input class="k-input k-textbox" type="text" id="PositionNameTxt" name="PositionNameTxt" data-val-required="The StockRoom Name field is required." disabled>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            @*index*@
            <div class="col-sm-1 u-col-h-fixed">
                <label class="label-name" for="PositionIndexTxt">Index</label>
            </div>
            <div class="col-sm-1 u-col-h-fixed">
                <div class="input-group">
                    <input class="k-input k-textbox" type="text" id="PositionIndexTxt" disabled>
                </div>
            </div>

            <div class="col-sm-1 u-col-h-fixed ml-5">
            </div>
            <div class="col-sm-1 u-col-h-fixed">
                <div class="input-group">
                </div>
            </div>

            @*description*@
            <div class="col-sm-1 u-col-h-fixed ml-1">
                <label class="label-name" for="PositionDescriptionTxt">Description</label>
            </div>
            <div class="col-sm-5 u-col-h-fixed">
                <div class="input-group">
                    <textarea class="k-input k-textbox" type="text" id="PositionDescriptionTxt" disabled></textarea>
                </div>
            </div>
        </div>
    </div>
</form>

<script>

    function populatePositionForm() {
        debugger;
        $('#PositionShortNameTxt').val(dataItem.PositionShortName);
        $('#PositionNameTxt').val(dataItem.PositionName);
        $('#PositionDescriptionTxt').val(dataItem.PositionDescription);
        $('#PositionIndexTxt').val(dataItem.PositionIndex);
        dataItem.Mode = 'Update';
        console.log(dataItem)
    }
    function onCancelPosition() {
        $("#LocationForm").show();
        $("#PositionForm").hide();
    }
    function UpdatePosition() {
        debugger
        console.log(dataItem.Mode)
        var positionModel =
        {
            PositionId: dataItem.PositionId,
            LocationId: dataItem.LocationId,
            PositionShortName: $('#PositionShortNameTxt').val(),
            PositionName: $('#PositionNameTxt').val(),
            PositionDescription: $('#PositionDescriptionTxt').val()
        }       
            $.ajax({
                url: '@Url.Action("UpdatePosition", "StockManagement")',
                type: 'POST',
                data: {
                    model: positionModel
                }
            }).done(function (data) {
                if (data.success != undefined && data.success) {
                    console.log('position  Updated');
                } else {
                    $('#errors').html('not saved. reason:' + data.errorMessage);
                }
            }).fail(function (response) {
                console.log(response)
                umsErrorDialog("Error occured", response.errorMessage, 200, 200);
            });
            return;
    }
    function InsertPosition(){
        var positionModel =
        {
            PositionId: dataItem.PositionId,
            LocationId: dataItem.LocationId,
            PositionShortName: $('#PositionShortNameTxt').val(),
            PositionName: $('#PositionNameTxt').val(),
            PositionDescription: $('#PositionDescriptionTxt').val()
        }
            $.ajax({
                url: '@Url.Action("InsertNewPosition", "StockManagement")',
                type: 'POST',
                data: {
                    model: positionModel
                }
            }).done(function (data) {
                if (data.success != undefined && data.success) {
                    console.log('position Inserted');
                } else {
                    $('#errors').html('not saved. reason:' + data.errorMessage);
                }
            }).fail(function (response) {
                console.log(response)
                umsErrorDialog("Error occured", response.errorMessage, 200, 200);
            });
    }
    function clearPositionForm() {
        $('#PositionShortNameTxt').val('')
        $('#PositionNameTxt').val('');
        $('#PositionDescriptionTxt').val('');
    }
</script>
