/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
html {
    font-size: 12px;
    min-width: 796px
}
body {
    background-color: #f5f5f5 !important;
    color: #3C4858 !important;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 5px;
    padding-right: 5px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}



/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/
textarea {
    padding: 0px 8px;
}

a:focus {
    outline: none !important;
}

.page-logo {
    background: url('../images/ascomlogo.png') no-repeat;
    width: 136px;
    height: 27px;
}
.card-ums .card-header {
    background-color: #ffffff;
    border-bottom: 0;
}
h4.card-title {
    color: #4a90e2;
    background-color: #ffffff;
    font-size: 32px;
    font-weight: 600;
    /*padding: 19px;*/
}

.card-ums {
    padding-right:2px;
    padding-right:2px;
    
}

.content-wrapper {
    margin: 0 auto;
    max-width: 98%;
    height: auto;
}

.main-content {
    margin-top: 20px;
}

section.content-wrapper {
    padding: 10px;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

fieldset.form-fields {
    clear: right;
    margin-top: 24px;
    text-align: center;
}

    fieldset.form-fields .input-text, fieldset.form-fields .input-dropdown {
        width: 240px;
        /*font-size: 14pt !important;*/
        /*font-size: 0.9em;*/
        font-size: 1.2em;
    }

fieldset.form-fields .highlightButton, .secondaryButton {
    /*font-size: 14pt !important;*/
    font-size: 0.9em;
    min-height: 35px;
}

fieldset legend {
    display: none;
}

fieldset ol {
    padding: 0;
    list-style: none;
}

fieldset ol li {
    padding-bottom: 5px;
}

#loginForm {
    margin-top: 10%;
}
.login-error-msg {
    color: #dc3545 !important;
    text-align: left;
    padding: 0 12%;
    word-break: break-word;
    font-size: 1.2em;
}

.input-text.username, .input-text.password {
    font-weight: 400;
    background-color: #F3F2EE;
    border: 1px solid #e8e7e3;
    border-radius: 4px;
    color: #66615b;
    font-size: 14px;
    padding: 7px 18px;
    height: 40px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.card-ums {
    border-radius: 2px;
    /*box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);*/
    background-color: #FFFFFF;
    color: #252422;
    position: relative;
    z-index: 1;
    height: 90%;
}

.user-header {
    float: right;
    height: 50px;
    line-height: 50px;
}

.navbar-brand {
    background: url('../images/logo_configurator.png') no-repeat;
    width: 114px;
    height: 50px;
    float: left;

}
.navbar-appname {
   /*width: 130px;*/
   float: left;
   margin-left: 7px;
   line-height: 50px;
   color: #FFFFFF;
   font-weight: 400;
   font-size: 24px;
   /*font-family: 'Open Sans';*/
}
.navbar-about {
    background: url('../images/info.png') no-repeat 50%;
    float: left;
    margin-left: 25px;
    width: 39px;
    height: 50px;
    background-size: 24px;
}

.login .btn-login {
    background-color: #3b5998;
    border-color: #3b5998;
    border-width: 0;
    color: #FFFFFF;
    display: block;
    margin: 0 auto;
    padding: 15px 50px !important;
    text-transform: uppercase;
    width: 100%;
    margin-top: 20px;
}

.login.box input[type="text"], .login.box input[type="password"] {
    border-radius: 3px;
    border: none;
    color: #333333;
    font-size: 16px;
    height: 46px;
    margin-bottom: 5px;
    padding: 13px 12px;
    width: 100%;
}

.login.box {
    text-align: center;
    padding: 35px;
}

.login .form-control {
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.09);
    box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.09) inset;
    color: #FFFFFF;
}

.login.box input[type="text"], .login.box input[type="password"] {
    border-radius: 3px;
    border: none;
    color: #333333;
    font-size: 16px;
    height: 46px;
    margin-bottom: 5px;
    padding: 13px 12px;
    width: 100%;
}

.login .form-control {
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.09);
    box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.09) inset;
    color: #FFFFFF;
}

    .login .form-control:hover {
        background-color: rgba(0,0,0,.16);
    }

    .login .form-control:focus {
        box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.04) inset;
        background-color: rgba(0,0,0,0.23);
        color: #FFFFFF;
    }

.login .btn-login:hover, .registerBox .btn-register:hover {
    background-color: #194e6c;
    color: #FFFFFF;
}

.mn-lightgrey {
    margin-bottom: 0px !important;
}

.highlightButton {
    color: #FFFFFF !important;
    background-color: #4a90e2 !important;
    border-color: #4a90e2 !important;
    opacity: 1 !important;
    padding: 0.9em 1.9em;
    cursor: pointer;
    padding: 0.9em 1.9em;
    margin-right: 8px;
    width: auto;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: none;
    outline: none;
    font-size: 0.9em;
    font-weight: 600;
    color: white !important;
    font-size: 16px;
    min-width: 100px;
}


/*footer {
    margin: 0;
    padding-top: 250px;
    font-size: 16px;
    text-align:center;
}*/

footer {
    position: fixed;
    bottom: 40px;
    height: 40px;
    width: 60%;
    margin: 0 auto;
    text-align: center;
    z-index: 100;
}


/*********begin menu bar**********/



.mn-grey {
    border: none !important;
}
/**********end menu bar****************/

.main-panel > .content {
    /* margin-top: 70px; */
    padding: 0px 0px;
    /* min-height: calc(100vh - 123px); */
    height: 80vh;
    font-size: 0.9em;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    /*margin-right: auto;
    margin-left: auto;*/
    height: 100%;
}

/**********begin tabstrip*************/

.row {
    margin-right: 10px !important;
    margin-left: 10px !important;
    /* margin: 3%!important; */
    margin-bottom:15px;
}


/*.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 0px !important;
    padding-left: 0px !important;
    height: 30px;
    line-height: 30px;
}*/

.breadcrumbs {
    padding-bottom: 2px;
    padding-top: 2px;
    padding-left: 4px;
    color: #989898;
    background-color: #FFFFFF;
}


/*.btn {
    outline: 0;
    padding: 6px 10px ;
}*/

.btn-xs, .btn-group-xs > .btn {
    padding: 0.25rem 0.25rem;
    font-size: 0.575rem;
    line-height: 1;
    border-radius: 0.2rem;
}



/***************begin account user section******************/
.panel-wrap {
    position: relative;
    height: 270px;
}

.widget {
    padding: 5px;
    background-color: #fafafa;
}


    .widget div {
        padding: 0 3px;
        padding-left: 10px;
    }

    .widget h3 {
        font-size: 11px;
        padding: 4px 4px;
        text-transform: uppercase;
        border-bottom: 1px solid #e7e7e7;
        margin: 0px;
        color: #a8a8a8;
        padding-left: 10px;
        padding-bottom: 6px;
        margin-bottom: 18px;
    }

        .widget h3 span {
            float: right;
        }

            .widget h3 span:hover {
                cursor: pointer;
                background-color: #e7e7e7;
                border-radius: 20px;
            }

/* PROFILE */
#account {
    margin-right: 5px;
    min-height: 126px !important;
}
#accountPin {
    min-height: 85px !important;
    padding-top: 24px;
}


#options {
    margin-right: 5px;
    min-height: 255px !important;
}

    #options div {
        padding-left: 25px;
    }
/***************end account user section******************/

/* Log Config */
#log-destinations {
    margin-right: 5px;
    height: 220px !important
}

#log-destinations div {
   padding-left: 25px;
   padding-top: 6px;
}

#log-level {
    height: 220px !important;
}

#log-level div {
  padding-left: 25px;
  padding-top: 6px;
}
#account-statistics {
    height: 120px !important;
    padding-top: 24px;
}

#permissions {
    margin-right: 5px;
    height: 100px !important
}
.account-card, .permissions-card {
    min-height: 255px;
}
.options-card {
    min-height: 255px;
}

@media (max-width: 767px) {
    #accountPin {
        min-height: 115px !important;
    }

    .account-card,.permissions-card {
        min-height: 365px;
    }

    .options-card {
        min-height: 270px;
    }
    #permissions {
         height: 179px !important; 
    }
    #account-statistics {
        height: 188px !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #accountPin {
        min-height: 115px !important;
    }

    .account-card {
        min-height: 365px;
    }

    .options-card {
        min-height: 270px;
    }
    #permissions {
        height: 179px !important;
    }

    #account-statistics {
        height: 188px !important;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    #accountPin {
        min-height: 115px !important;
    }

    .account-card {
        min-height: 365px;
    }

    .options-card {
        min-height: 270px;
    }
}



        /***************end log config******************/

/***************begin buttons*****************/
.btnUmsBase {
    font-size: 1em;
    min-width: 100px;
    font-weight: normal;
    padding: 0.4em 0.5em;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: none;
    outline: none;
    margin-right: 5px;
}

.btnGreen {
    background-color: #28a745;
    border-color: #28a745;
    color: white;
}
    .btnGreen:hover {
        background-color: #007717;
        border-color: #007717;
        color: white;
    }
.btnGreen-outline {
    color: #619b7b;
    border-color: #619b7b;
    background-color: white;
    /*margin-left: 50px;*/
}
.btnGreen-outline :hover {
    background-color: #619b7b;
    color: white;
}
.btnDarkGreen{
    color: #ffffff;
    background-color: #004d40;
    border-color: #004d40;
}
.btnDarkGreen:hover {
    color: #004d40;
    background-color: #00251a;
    border-color: #004d40;
}
.btnDarkGreen-outline {
    color: #004d40;
    background-color: transparent;
    border-color: #004d40;
}
.btnDarkGreen-outline:hover {
    color: #ffffff;
    background-color: #004d40;
    border-color: #004d40;
}


.btnKendo {
    color: #000000;
    background-color: #dfe6ed;
    border-color: #dfe6ed;
}

.btnKendo:hover {
    border-color: #becddb;
    color: #212529;
    background-color: #c7d3df; 
}

.btnKendo-outline:hover {
    color: #fff;
    background-color: #dfe6ed;
    border-color: #dfe6ed;
}

.btnKendo-outline {
    color: #dfe6ed;
    background-color: #ffffff;
    border-color: #dfe6ed;
}
.btnGrey {
    color: #fff;
    background-color: #757575;
    border-color: #757575;
}
.btnGrey:hover {
    color: #fff;
    background-color: #494949;
    border-color: #494949;
}
.btnGrey-outline:hover{
    color: #fff;
    background-color: #757575;
    border-color: #757575;
}
.btnGrey-outline {
    color: #757575;
    background-color: #ffffff;
    border-color: #757575;
}
.btnOrange {
    background-color: #ff6d3e;
    border-color: #ff6d3e;
    color: #ffffff;
}
    .btnOrange:hover {
        background-color: #c56000;
        border-color: #c56000;
        color: #ffffff;
    }
.btnOrange-outline {
    background-color: #ffffff;
    border-color: #ff6d3e;
    color: #ff6d3e;
}
    .btnOrange-outline:hover {
        background-color: #ff6d3e;
        border-color: #ff6d3e;
        color: #ffffff;
    }

.btnRed {
    background-color: #dc3545;
    border-color: #dc3545;
    color: #ffffff;
}
    .btnRed:hover {
        background-color: #a3001e;
        border-color: #a3001e;
        color: #ffffff;
    }
.btnRed-outline {
    background-color: #ffffff;
    border-color: #dc3545;
    color: #dc3545;
}
    .btnRed-outline:hover {
        background-color: #dc3545;
        border-color: #dc3545;
        color: #ffffff;
    }

/*.btnSave, .btnEdit, .btnExport, .btnUpload, .btnDownload, .btnDefSettings, .btnCopy, .btnEditor, .btnAction,
.btnCancel,*/


/*.btnClose ,*/ 
    

.button-container {
    background-color: white;
    padding: 10px 30px;
    text-align: right;
    height: 20%;
}
        /***************end buttons*******************/



        /**********begin alerts***************/

        .thumbnail {
            border: 0 none;
            border-radius: 4px;
            padding: 0;
        }

        .alert {
            border: 0;
            border-radius: 0;
            position: relative;
            padding: 24px 15px;
            line-height: 20px;
        }

            .alert b {
                font-weight: 500;
                text-transform: uppercase;
                font-size: 12px;
            }

            .alert,
            .alert.alert-default {
                background-color: white;
                color: #555555;
                border-radius: 3px;
                box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 255, 255, 0.4);
            }

                .alert a,
                .alert .alert-link,
                .alert.alert-default a,
                .alert.alert-default .alert-link {
                    color: #555555;
                }

                .alert.alert-inverse {
                    background-color: #2e2e2e;
                    color: #fff;
                    border-radius: 3px;
                    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(33, 33, 33, 0.4);
                }

                    .alert.alert-inverse a,
                    .alert.alert-inverse .alert-link {
                        color: #fff;
                    }

                .alert.alert-primary {
                    background-color: #af2cc5;
                    color: #ffffff;
                    border-radius: 3px;
                    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(156, 39, 176, 0.4);
                }

                    .alert.alert-primary a,
                    .alert.alert-primary .alert-link {
                        color: #ffffff;
                    }

                .alert.alert-success {
                    background-color: #5cb860;
                    color: #ffffff;
                    border-radius: 3px;
                    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(76, 175, 80, 0.4);
                }

                    .alert.alert-success a,
                    .alert.alert-success .alert-link {
                        color: #ffffff;
                    }

                .alert.alert-info {
                    background-color: #00bcd4;
                    color: #ffffff;
                    border-radius: 3px;
                    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 188, 212, 0.4);
                }

                    .alert.alert-info a,
                    .alert.alert-info .alert-link {
                        color: #ffffff;
                    }

                .alert.alert-warning {
                    background-color: #ffa21a;
                    color: #ffffff;
                    border-radius: 3px;
                    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4);
                }

                    .alert.alert-warning a,
                    .alert.alert-warning .alert-link {
                        color: #ffffff;
                    }

                .alert.alert-danger {
                    background-color: #f55a4e;
                    color: #ffffff;
                    border-radius: 3px;
                    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(244, 67, 54, 0.4);
                }

                    .alert.alert-danger a,
                    .alert.alert-danger .alert-link {
                        color: #ffffff;
                    }

                .alert.alert-rose {
                    background-color: #eb3573;
                    color: #ffffff;
                    border-radius: 3px;
                    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(233, 30, 99, 0.4);
                }

                    .alert.alert-rose a,
                    .alert.alert-rose .alert-link {
                        color: #ffffff;
                    }

        .alert-info,
        .alert-danger,
        .alert-warning,
        .alert-success,
        .alert-rose {
            color: #ffffff;
        }

        .alert-default a,
        .alert-default .alert-link {
            color: rgba(0, 0, 0, 0.87);
        }

        .alert span {
            display: block;
            max-width: 89%;
            margin-bottom: -8px;
        }

        .alert.alert-danger i {
            color: #f44336;
        }

        .alert.alert-warning i {
            color: #ff9800;
        }

        .alert.alert-success i {
            color: #4caf50;
        }

        .alert.alert-info i {
            color: #00bcd4;
        }

        .alert.alert-primary i {
            color: #9c27b0;
        }

        .alert.alert-rose i {
            color: #e91e63;
        }

        .alert.alert-with-icon {
            margin-top: 43px !important;
            padding-left: 66px !important;
        }

            .alert.alert-with-icon i[data-notify="icon"] {
                display: block;
                left: 15px;
                position: absolute;
                margin-top: -39px;
                font-size: 20px;
                background-color: #FFFFFF;
                padding: 9px;
                border-radius: 50%;
                max-width: 38px;
                box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
            }

        .alert .close i {
            color: #FFFFFF;
        }

        .alert .close {
            line-height: .5;
        }

        .alert .close {
            text-shadow: none;
            opacity: .9;
        }

        .alert .close, .alert-danger, .alert-info, .alert-success, .alert-warning, .badge {
            color: #fff;
        }

        .alert i[data-notify="icon"] {
            display: none;
        }

        .alert .alert-icon {
            display: block;
            float: left;
            margin-right: 15px;
        }

            .alert .alert-icon i {
                margin-top: -7px;
                top: 5px;
                position: relative;
            }

        .alert [data-notify="dismiss"] {
            margin-right: 5px;
        }

        .animated {
            -webkit-animation-duration: 1s;
            animation-duration: 1s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
        }

            .animated.infinite {
                -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
            }

            .animated.hinge {
                -webkit-animation-duration: 2s;
                animation-duration: 2s;
            }

            .animated.bounceIn,
            .animated.bounceOut {
                -webkit-animation-duration: .75s;
                animation-duration: .75s;
            }

            .animated.flipOutX,
            .animated.flipOutY {
                -webkit-animation-duration: .75s;
                animation-duration: .75s;
            }

        @-webkit-keyframes shake {
            from, to {
                -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
            }

            10%, 30%, 50%, 70%, 90% {
                -webkit-transform: translate3d(-10px, 0, 0);
                transform: translate3d(-10px, 0, 0);
            }

            20%, 40%, 60%, 80% {
                -webkit-transform: translate3d(10px, 0, 0);
                transform: translate3d(10px, 0, 0);
            }
        }

        @keyframes shake {
            from, to {
                -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
            }

            10%, 30%, 50%, 70%, 90% {
                -webkit-transform: translate3d(-10px, 0, 0);
                transform: translate3d(-10px, 0, 0);
            }

            20%, 40%, 60%, 80% {
                -webkit-transform: translate3d(10px, 0, 0);
                transform: translate3d(10px, 0, 0);
            }
        }

        .shake {
            -webkit-animation-name: shake;
            animation-name: shake;
        }

        @-webkit-keyframes fadeInDown {
            from {
                opacity: 0;
                -webkit-transform: translate3d(0, -100%, 0);
                transform: translate3d(0, -100%, 0);
            }

            to {
                opacity: 1;
                -webkit-transform: none;
                transform: none;
            }
        }

        @keyframes fadeInDown {
            from {
                opacity: 0;
                -webkit-transform: translate3d(0, -100%, 0);
                transform: translate3d(0, -100%, 0);
            }

            to {
                opacity: 1;
                -webkit-transform: none;
                transform: none;
            }
        }

        .fadeInDown {
            -webkit-animation-name: fadeInDown;
            animation-name: fadeInDown;
        }

        @-webkit-keyframes fadeOut {
            from {
                opacity: 1;
            }

            to {
                opacity: 0;
            }
        }

        @keyframes fadeOut {
            from {
                opacity: 1;
            }

            to {
                opacity: 0;
            }
        }

        .fadeOut {
            -webkit-animation-name: fadeOut;
            animation-name: fadeOut;
        }

        @-webkit-keyframes fadeOutDown {
            from {
                opacity: 1;
            }

            to {
                opacity: 0;
                -webkit-transform: translate3d(0, 100%, 0);
                transform: translate3d(0, 100%, 0);
            }
        }

        @keyframes fadeOutDown {
            from {
                opacity: 1;
            }

            to {
                opacity: 0;
                -webkit-transform: translate3d(0, 100%, 0);
                transform: translate3d(0, 100%, 0);
            }
        }

        .fadeOutDown {
            -webkit-animation-name: fadeOutDown;
            animation-name: fadeOutDown;
        }

        @-webkit-keyframes fadeOutUp {
            from {
                opacity: 1;
            }

            to {
                opacity: 0;
                -webkit-transform: translate3d(0, -100%, 0);
                transform: translate3d(0, -100%, 0);
            }
        }

        @keyframes fadeOutUp {
            from {
                opacity: 1;
            }

            to {
                opacity: 0;
                -webkit-transform: translate3d(0, -100%, 0);
                transform: translate3d(0, -100%, 0);
            }
        }

        .fadeOutUp {
            -webkit-animation-name: fadeOutUp;
            animation-name: fadeOutUp;
        }

        .alert.alert-with-icon i[data-notify=icon] {
            display: block;
            left: 15px;
            position: absolute;
            margin-top: -39px;
            font-size: 20px;
            background-color: #fff;
            padding: 9px;
            border-radius: 50%;
            max-width: 38px;
            box-shadow: 0 16px 38px -12px rgba(0,0,0,.56), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
        }



        /***********end alerts**************/

#u-info {
   height: 50px;
   margin-left: -10px;
   margin-top: 0px;
   color: #17a2b8 ;
   text-align: left;
}
#errors {
   height: 50px;
   margin-left: -10px;
   margin-top: 0px;
   color: #f34a4a;
   text-align: left;
}

.errorSpan {
    height: 50px;
    margin-left: -10px;
    margin-top: 0px;
    color: #f34a4a;
    text-align: left;
}



        .tab-invalid:after {
            content: " *";
            color: red;
        }

        .k-grid-header th.k-header > .k-link {
            font-weight: 700;
            color: #4f4f4f;
        }

        .label-important {
            font-weight: 600;
            color: #696969;
        }

        .col-editable {
            background-color: #f1f8f4;
        }

        .field-required:after {
            content: " *";
        }


        /************begin export buttons****************/
        .btn-export {
            width: 43px;
            height: 40px;
            float: left;
            border-width: 2px !important;
            border-style: outset !important;
            border-color: buttonface !important;
            border-image: initial !important;
            margin-right: 0px;
            padding: 0px;
            margin: 2px;
        }

        .export-pdf {
            background: url('../images/pdf.png') no-repeat;
            background-position: center;
        }

        .export-xls, .export-xlsx {
            background: url('../images/excel.png') no-repeat;
            background-position: center;
        }

        .export-png {
            background: url('../images/png.png') no-repeat;
            background-position: center;
        }

        .export-jpg {
            background: url('../images/jpg.png') no-repeat;
            background-position: center;
        }

        .export-gif {
            background: url('../images/gif.png') no-repeat;
            background-position: center;
        }

        
        /************begin overrides on style ( because of bootstrap)****************/
        .k-block, .k-widget {
            /*font-size: 1em !important;*/
        }
            /************end overrides on style ****************/


            /*************begin styles k-widgets********************/
            .k-widget.k-dropdown, .k-textbox {
                /*border: 1px solid #E3E3E3;
                border-radius: 4px;
                color: #565656;*/
            }

                .k-widget.k-dropdown:focus, k-textbox:focus {
                    background-color: #FFFFFF;
                    border: 1px solid #AAAAAA;
                    -webkit-box-shadow: none;
                    box-shadow: none;
                    outline: 0 !important;
                    color: #333333;
                }

      

        /**************end styles k-widgets*******************/
        .margin10 {
            margin-right: 10px;
        }

     

        /***********end slider************************/
        .user-header {
            display: table-row;
            height: 50px;
            line-height: 50px;
        }

            .user-header > div {
                display: table-cell;
                vertical-align: middle;
                height: 50px;
            }

            .system-header {
                display: table-cell;
                height: 50px;
                line-height: 50px;
            }


        .logout-image {
            background: url('../images/logout.png') center center no-repeat;
            height: 30px;
            width: 30px;
            background-size: 28px 28px;
            display: block;
            margin: 0 40px 0 0px;
        }

        .spanUserName {
            /*font-size: 16pt;*/
            font-size: 1.1em !important;
            margin-right: 10px;
            margin-left: 10px;
        }

.user-image {
    background: url('../images/user.png') center center no-repeat;
    
    height: 28px;
    width: 28px;
    background-size: 28px 28px;
}

.system-image {
    background: url('../images/databaseinfo.png') center center no-repeat;
    height: 28px;
    width: 28px;
    background-size: 28px 28px;
    cursor:pointer;
}

.system-cell {
    padding-right: 20px;
}

        /***********begin confirm alert********************/
        .dialog-icon.dialog-error {
            border-color: #f27474;
        }

        .dialog-icon.dialog-message {
            /*font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
            color: #87adbd;
            border-color: #c9dae1;
            font-size: 40px;
            line-height: 60px;
            text-align: center;
        }

        .dialog-icon {
            width: 60px;
            height: 60px;
            border: 4px solid transparent;
            border-radius: 50%;
            margin: 14px auto 0px;
            padding: 0;
            position: relative;
            -webkit-box-sizing: content-box;
            box-sizing: content-box;
            cursor: default;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

            .dialog-icon.dialog-warning {
                /*font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
                color: #f8bb86;
                border-color: #facea8;
                font-size: 40px;
                line-height: 60px;
                text-align: center;
            }

            .dialog-icon.dialog-info {
                /*font-family: 'Open Sans', sans-serif;*/
                color: #3fc3ee;
                border-color: #9de0f6;
                font-size: 40px;
                line-height: 40px;
                text-align: center;
            }

            .dialog-icon.dialog-success {
                border-color: #a5dc86;
            }

        .dialog-popup .dialog-buttonswrapper {
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            margin-top: 15px;
        }

        .dialog-popup .dialog-close {
            background: transparent;
            border: 0;
            margin: 0;
            padding: 0;
            width: 38px;
            height: 40px;
            font-size: 36px;
            line-height: 40px;
            /*font-family: serif;*/
            position: absolute;
            top: 5px;
            right: 8px;
            cursor: pointer;
            color: #cccccc;
            -webkit-transition: color .1s ease;
            transition: color .1s ease;
        }

        .dialog-popup .dialog-styled {
            border: 0;
            border-radius: 3px;
            -webkit-box-shadow: none;
            box-shadow: none;
            color: #fff;
            cursor: pointer;
            font-size: 17px;
            font-weight: 500;
            margin: 15px 5px 0;
            padding: 10px 32px;
        }

        .dialog-popup .dialog-styled {
            border: 0;
            border-radius: 3px;
            -webkit-box-shadow: none;
            box-shadow: none;
            color: #fff;
            cursor: pointer;
            font-size: 17px;
            font-weight: 500;
            margin: 15px 5px 0;
            padding: 10px 32px;
        }

        .delete-confirm, .delete-cancel {
            padding: 8px 18px !important;
        }



        /***********end confirm alert********************/
        .popup-kwindow {
            overflow: hidden;
        }


        #locationsbeds-grid tr:hover {
            background-color: transparent !important;
        }

        .no-hover tr:hover {
            background-color: transparent !important;
        }

        .k-grid-header th.k-header {
            font-weight: 600;
            text-align: center;
        }

.txt-readonly, input:read-only:not(.k-checkbox) :not(type[file]) {
   background-color: #e9ecef !important;
   opacity: 0.8;
   color: black !important;
}

.txt-readonly, textarea:read-only, textarea:disabled {
    background-color: #e9ecef !important;
    opacity: 0.8;
    color: black !important;
}

.empty-grid {
   margin-left: auto;
   margin-right: auto;
   font-size: 1.25em;
   color: #5c5c5c;
   text-align: center;
}

button.btnDownload[disabled] {
    cursor: not-allowed;
    background-color: #d8d9d8 !important;
}

.lock-on {
    display: block;
    visibility: visible;
    position: absolute;
    z-index: 1000;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #22242c;
    background-color: RGBA( 43,46, 56,0.4);
    padding-top: 20%;
    filter: alpha(opacity=75);
    opacity: 0.75;
    font-size: large;
    color: blue;
    font-style: italic;
    font-weight: 400;
    background-image: url('../images/loadingImage.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.comPortDiv {
    border: solid 1px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    background-color: #fff;
    margin: -16px;
    display: inline-flex;
    vertical-align: bottom;
}
.comPortDiv label {
    padding-left: 4px;
    margin-top: auto;
    padding-right: 1px;
}

.comPortDiv input {
  border: none !important;
  text-indent: unset;
  padding-left: 0px !important;
  padding-top: 2px !important;
  padding-bottom: 5px !important;
}


/*button colored in grid*/
td > .btnSave, td > .btnEdit, td > .btnCancel, td > .btnExport, td > .btnUpload, td > .btnDownload, td > .btnEditor
td > .btn {
    margin-left: 0px;
    margin-right: 3px;
    padding-left: 0px;
    padding-right: 0px;
    min-width: 100%;
}
.view-mode ,.modify-mode{
    /*used only for show-edit pourpose*/
}

.hidden-mode {
    display:none;
}

#main-menu-kendo {
    height: 42px;
}


.w-10 {
    width: 10% !important;
}
.w-15 {
    width: 15% !important;
}
.w-20 {
    width: 20% !important;
}
.w-25 {
    width: 25% !important;
}
.w-30 {
    width: 30% !important;
}
.w-35 {
    width: 35% !important;
}
.w-40 {
    width: 40% !important;
}
.w-45 {
    width: 45% !important;
}
.w-55 {
    width: 55% !important;
}
.w-60 {
    width: 60% !important;
}
.w-65 {
    width: 65% !important;
}
.w-70 {
    width: 70% !important;
}
.w-75 {
    width: 75% !important;
}
.w-80 {
    width: 80% !important;
}
.w-85 {
    width: 85% !important;
}

.w-89 {
   width: 89% !important;
}
.w-90 {
    width: 90% !important;
}

.w-93 {
   width: 93% !important;
}
.w-95 {
    width: 95% !important;
}

.w-96 {
    width: 96% !important;
}

.h-10 {
    height: 10% !important;
}

.h-15 {
    height: 15% !important;
}

.h-20 {
    height: 20% !important;
}

.h-25 {
    height: 25% !important;
}

.h-30 {
    height: 30% !important;
}

.h-35 {
    height: 35% !important;
}

.h-40 {
    height: 40% !important;
}

.h-45 {
    height: 45% !important;
}

.h-55 {
    height: 55% !important;
}

.h-60 {
    height: 60% !important;
}

.h-65 {
    height: 65% !important;
}

.h-70 {
    height: 70% !important;
}

.h-75 {
    height: 75% !important;
}

.h-80 {
    height: 80% !important;
}

.h-85 {
    height: 85% !important;
}

.h-90 {
    height: 90% !important;
}

.h-95 {
    height: 95% !important;
}

tr:hover {
    cursor: pointer;
}

.ums-header {
    font-size: 11px;
    padding: 4px 4px;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    margin: 0px;
    color: #a8a8a8;
    padding-left: 10px;
    padding-bottom: 6px;
    margin-bottom: 16px;
}

/*ul li.k-state-disabled:after {
    content: "";
    display: inline-block;
    background: url(../images/lock-tabstrip.png) no-repeat top right;
}*/

/*ul li.k-state-disabled {
    background-image: url(../images/lock-tabstrip.png);
    background-repeat: no-repeat;
    background-position: 98% 9%;
}*/

.AlarmStatus {
   background-color: #ff0000; /*red*/
   color: white;
   padding: 2px 7px;
   border: solid 1px #d2d2d2;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
}

.WarningStatus {
   background-color: #fff000; /*custom yellow*/
   color: black;
   padding: 2px 7px;
   border: solid 1px #d2d2d2;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
}

.NormalStatus {
   background-color: #008000; /*green*/
   color: white;
   padding: 2px 7px;
   border: solid 1px #d2d2d2;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
}

.AnomalyStatus {
   background-color: #ff8c00; /*darkorange*/
   color: white;
   padding: 2px 7px;
   border: solid 1px #d2d2d2;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
}

.InfoAlarm {
   background-color: #4A90E2;
   color: white;
   padding: 2px 7px;
   border: solid 1px #1b5aa9;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
}

.LowPriority {
   background-color: #4A90E2;
   color: white;
   padding: 2px 7px;
   border: solid 1px #1b5aa9;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
}

.MediumPriority {
   background-color: #F5A623;
   color: white;
   padding: 2px 7px;
   border: solid 1px #c67e09;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
}

.HighPriority {
   background-color: #E40000;
   color: white;
   padding: 2px 7px;
   border: solid 1px #bb0000;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   /* ReSharper disable once CssBrowserCompatibility */
   border-radius: 3px;
}

div.row > div.col-1 > label, div.row > div.col-xs-1 > label, div.row > div.col-sm-1 > label, div.row > div.col-md-1 > label, div.row > div.col-lg-1 > label, div.row > div.col-xl-1 > label,
div.row > div.col-2 > label, div.row > div.col-xs-2 > label, div.row > div.col-sm-2 > label, div.row > div.col-md-2 > label, div.row > div.col-lg-2 > label, div.row > div.col-xl-2 > label,
div.row > div.col-3 > label, div.row > div.col-xs-3 > label, div.row > div.col-sm-3 > label, div.row > div.col-md-3 > label, div.row > div.col-lg-3 > label, div.row > div.col-xl-3 > label,
div.row > div.col-4 > label, div.row > div.col-xs-4 > label, div.row > div.col-sm-4 > label, div.row > div.col-md-4 > label, div.row > div.col-lg-4 > label, div.row > div.col-xl-4 > label,
div.row > div.col-5 > label, div.row > div.col-xs-5 > label, div.row > div.col-sm-5 > label, div.row > div.col-md-5 > label, div.row > div.col-lg-5 > label, div.row > div.col-xl-5 > label,
div.row > div.col-6 > label, div.row > div.col-xs-6 > label, div.row > div.col-sm-6 > label, div.row > div.col-md-6 > label, div.row > div.col-lg-6 > label, div.row > div.col-xl-6 > label,
div.row > div.col-7 > label, div.row > div.col-xs-7 > label, div.row > div.col-sm-7 > label, div.row > div.col-md-7 > label, div.row > div.col-lg-7 > label, div.row > div.col-xl-7 > label,
div.row > div.col-8 > label, div.row > div.col-xs-8 > label, div.row > div.col-sm-8 > label, div.row > div.col-md-8 > label, div.row > div.col-lg-8 > label, div.row > div.col-xl-8 > label,
div.row > div.col-9 > label, div.row > div.col-xs-9 > label, div.row > div.col-sm-9 > label, div.row > div.col-md-9 > label, div.row > div.col-lg-9 > label, div.row > div.col-xl-9 > label,
div.row > div.col-10 > label, div.row > div.col-xs-10 > label, div.row > div.col-sm-10 > label, div.row > div.col-md-10 > label, div.row > div.col-lg-10 > label, div.row > div.col-xl-10 > label,
div.row > div.col-11 > label, div.row > div.col-xs-11 > label, div.row > div.col-sm-11 > label, div.row > div.col-md-11 > label, div.row > div.col-lg-11 > label, div.row > div.col-xl-11 > label,
div.row > div.col-12 > label, div.row > div.col-xs-12 > label, div.row > div.col-sm-12 > label, div.row > div.col-md-12 > label, div.row > div.col-lg-12 > label, div.row > div.col-xl-12 > label {
   margin-top: .5rem
}

/*only test*/

.u-input-required:after {
    content: "";
    border: 2px solid salmon;
    margin: 3px;
}
.u-control-required {
    border-left-color: salmon !important;
    border-left-width: 4px !important;
}
.u-control-required-b {
    border-bottom-color: salmon !important;
    border-bottom-width: 4px !important;
}
.label-note{
    font-style:italic;
}

.no-scrollbar .k-grid-header {
   padding: 0 !important;
}

.no-scrollbar .k-grid-content {
   overflow-y: visible;
}
   
.lh-0-5 {
   line-height: 0.5;
}
.lh-1-0 {
   line-height: 1;
}
.lh-1-5 {
   line-height: 1.5;
}
.ig-18px {
   padding: .15em 0.55em;
}
.ig-24px {
   padding: .15em 0.35em;
}
.bg-digistat {
   background-color: #4a90e2;
}