@model IEnumerable<ConfiguratorWeb.App.Models.LocationViewModel>
@{
    Layout = null;
}

<input type="hidden" id="NetworkId" value="@((string)ViewBag.NetworkId)" />



<div style="text-align:center;">

    @(Html.Kendo().Grid(Model)
                          .Name("defloc-grid").HtmlAttributes(new { style = "height:455px;margin-top:10px;" })
                          .Columns(columns =>
                          {
                              columns.Bound(e => e.ID).Visible(false);
                              columns.Bound(e => e.LocationCode).HtmlAttributes(new { @style = "text-align:left;" });
                              columns.Bound(e => e.LocationName).HtmlAttributes(new { @style = "text-align:left;" });
                          })
                          .Pageable(pager => pager
                                  .Input(false)
                                  .Numeric(true)
                                  .Info(true)
                                  .PreviousNext(true)
                                  .Refresh(false)
                                  .PageSizes(false)
                                  ) //it's not working
                          .Sortable(true)
                          .Filterable()
                          .Selectable()
                          .Scrollable()
                          .Events(ev => ev.Change("onChangeLocation").DataBound("onDataBoundLocation"))
                          .DataSource(dataSource => dataSource
                              .Ajax()
                              .ServerOperation(false)
                          .PageSize(20)
                          )
                          .NoRecords(x => x.Template("<div class='text-center'>" + DicSvc.XLate("No records found") + "</div>"))
    )
</div>
